{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       <h1> Update User</h1>
        {{ include('_form.html.twig',{'button_text':'update'}) }}
    </div>
{% endblock %}

{% block title %}
 update page !
{% endblock %}

