{% extends 'base.html.twig' %}

{% block title %}
    Home page
{% endblock %}
{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Home</h3>

                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-md-12">
               <a href="{{ path('admin_panel') }}"> this is our Admin Dashboard  ya {{ app.user.getDisplayFullName()}} </a>
            </div>
        </div>
        {% endif %}

        {% if is_granted('ROLE_MEMBER') %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('user_panel') }}"> MEMBER Dashboard</a>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('user_password_change') }}">CTO Dashboard</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
