{% extends 'base.html.twig' %}

{% block body %}
  {{ form_start(loginForm) }}
  {{ form_widget(loginForm) }}
  <button class=" btn btn-lg"> login</button>
  {{ form_end(loginForm) }}
{% endblock %}

{% block title %}
<h1> Login Page</h1>
{% endblock %}

