{% extends 'base.html.twig' %}

{% block title %}
    sign up Page!
{% endblock %}

{% block body %}
    <div class="container">
        <h1> Create User</h1>
        {{ include('_form.html.twig',{'button_text':'Signup'}) }}
    </div>
{% endblock %}