{% extends 'base.html.twig' %}

{% block title %}
    sign up Page!
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(signupForm) }}
        {{ form_widget(signupForm) }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
        {{ form_end(signupForm) }}
    </div>
{% endblock %}